<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="hidden" name="login_type" value="login">
        {% csrf_token %}
        Email: <input type="text" name="email" value=""><br>
        Password: <input type="password" name="password" value=""><br>
        <input type="submit" name="submit" value="Login">
    </form>

    <h1>Registration</h1>
    <form action="/login" method="POST">
        <input type="hidden" name="login_type" value="registration">
        {% csrf_token %}
        First Name: <input type="text" name="first_name" value=""><br>
        Last Name: <input type="text" name="last_name" value=""><br>
        Email:<input type="text" name="email" value=""><br>
        Password: <input type="password" name="password" value=""><br>
        Confirm Password <input type="password" name="confirm_password" value=""><br>

        <input type="submit" name="submit" value="Register">
    </form>



</body>
</html>